/* sign up code of css */
*{
margin: 0px;
padding: 0px;
font-family: sans-serif;
}
body{
    /* background-image: url('https://th.bing.com/th/id/R.10914bdec4ab4a75593aceb131d3e1d9?rik=ZTlOmPvsgKtYUQ&riu=http%3a%2f%2ffc09.deviantart.net%2ffs49%2ff%2f2009%2f225%2f6%2fb%2fAnimated_Bubbles_by_Guilletas.gif&ehk=zEeCCDtTOAbVb8iypfjqUGCSlEzvly0%2fXr8TtbmZJHg%3d&risl=&pid=ImgRaw&r=0'
    );
    background-size: cover; */
    background-image: url('https://tipsy.github.io/bubbly-bg/bubbly.gif'
    );
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.head-container1{
    background: linear-gradient(to left , lightblue , lightblue, lightblue, blue, blue);
    border-radius: 20px;
   margin-top: 150px;
   box-shadow: 100 100 100 blue;
color: white;
width: 30%;
height:600px;

}
.head-container2{
    background: linear-gradient(to left , lightblue , lightblue, lightblue, blue, blue);
    border-radius: 20px;
   margin-top: 290px;
   box-shadow: 100 100 100 blue;
color: white;
width: 30%;
height:365px;

}
.head-conatiner{
    /* background: linear-gradient(to left , lightblue , lightblue, lightblue, blue, blue); */
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);

    margin-top: 250px;
    box-shadow: 100 100 100 blue;
    color: white;
    width: 30%;
    border: 2px solid  rgb(0, 132, 255);
    height:480px;

}
#Email{
    margin-top: 80px;
    border: 0px solid black;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    color:black;
    font-size: 25px;
    text-align: center;
}
#Password{
    font-size: 25px;
    border: 0px solid black;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    color:black;
    text-align: center;
}
#Roll{
    font-size: 25px;
    border: 0px solid black;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    color:black;
    text-align: center;
}
#Number{
    font-size: 25px;
    border: 0px solid black;
    border-radius: 15px;
    width: 90%;
    height: 40px;
    color:black;
    text-align: center;
}
.signbtn{
    font-size: 25px;
    border: 0px solid black;
    border-radius: 15px;
     width: 50%;
    height: 40px;
    color:black;
}
.col{
    color: rgb(38, 0, 255)
}
h1{
  font-size: 50px;  
}
#questions{
text-align: left;
margin-left: 30px;
}
.ttxx{
    margin-top:20px;
text-align: left;
background: rgba(255, 255, 255, 0.1);
border: none;
color: white;
font-size: 23px;
width: 350px;
height: 40px;
/* text-align: center; */
border-radius: 20px;
margin-left: 20px;
margin-left: -100px;
}

#next{
    /* text-align: left; */
    
    color: white;
    font-size: 25px;
    border: 0px solid black;
    border-radius: 15px;
    width: 50%;
    margin-top: 20px;
    margin-right: 195px;
    background-color:rgba(255, 255, 255, 0.5);
    height: 40px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}
#next:hover{
    /* text-align: left; */
    
    color: white;
    font-size: 25px;
    background-color:transparent;
    border: 0px solid black;
    border: 3px solid rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    width: 50%;
    margin-top: 20px;
    margin-right: 195px;
    height: 40px;
    border-radius: 20px;
}
.scorer{
    width: 300px;
    height: 300px;

    border-radius: 
    200px;
    font-family: sans-serif;
    text-align: center;
    border: 3px solid white;
    margin-top: 300px;
}
b
{
    color: rgb(7, 255, 255);
}

